<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <title>{% block title %}Asian Food Blog{% endblock %}</title>
</head>
<body>

    <header>
        <div class="container">
            <h1>Asian food blog</h1>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="{{ path('kitchen_index') }}">Kitchen List</a></li>
                <li><a href="{{ path('app_region_index') }}">Region List</a></li>
                <li><a href="{{ path('app_member_index') }}">Member List</a></li>
                <li><a href="{{ path('admin') }}">Admin</a></li>
            </ul>
        </div>
    </nav>


    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>



</body>
</html>
